nav {
    height: 100px;
    text-align: center;
    display:list-item;
}

        nav ul {
            display: inline;
            padding: 20px;
        }

        nav li {
            display: inline;
            padding: 50px;
            display: inline-block;
        }

        nav a {
            padding: 10px;
            border-style: solid; 
            border-color: black;
        }



header {               /* this is for the main header above the picture */
    text-align: center;
}

#my-picture {
    flex: 1 0 0;
    text-align: center;
    border-radius: 50%;
    max-width: 40%;
    /* display: inline; */
    margin-bottom: 250px;

}

#contact-info {
    display: inline;
    text-align: center;
}

#about-me {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 250px;
    border-top: solid black;    
}

p {
    line-height: 50px;
    font-size: large;
}

main {
    margin-top: 50px;
    border-top: solid black;
    text-align: center;
}
.project {
    border-color: black;
    border-style: solid;
}

.project img {
    width: 50%;
}

